QWidget {
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
}

QLineEdit {
    border: 2px solid rgb(180, 180, 180);
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

QLineEdit:hover {
    border: 2px solid rgb(0, 102, 192);
}

QLineEdit:focus {
    border: 2px solid rgb(0, 136, 255);
    color: rgb(20, 20, 20);
}

QPushButton {
    background: rgb(230, 230, 230);
    border: 2px solid rgb(200, 200, 200);
    padding: 5px;
    border-radius: 10px;
    color: black;
}

QPushButton:hover {
    background: rgb(210, 210, 210);
    border: 2px solid rgb(100, 149, 237);
}
